HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/src/main/resources/static/videos/QJt4FqyyxoZwhj6U.mp4
/src/main/resources/static/audios/clair-de-lune-suite-bergamasque-l-75-3rd-movement-claude-debussy-448s-11942.mp3
/src/main/resources/static/videos/
/src/main/resources/static/images/
/src/main/resources/static/audios/
/src/main/resources/firebase/techshop-87aaa-firebase-adminsdk-143vk-5363a75833.json
