#tituloPrincipal{
    color:#0000cc;
    font-size: 50px;
}


.parrafoNegrita {
    font-weight: bold;
    color: darkgoldenrod;
}

.parrafoEspecial {
    font-family: cursive;
}

.prioridad {
    color: red;
    
}

.prioridad1 {
    color: blue;
    
}

.prioridad2 {
    color: red;
    
}

.ejemploCajas {
    border: 2px solid black;
    border-color: red;
   /* padding-top: 10px;
    padding: 20px 10px;
    padding: 20px 10px 15px;*/
    padding: 20px 10px 15px 30px;
    width: 50%;
    margin: 0 auto;
    
}


a{
    color: crimson;
    background-color: aquamarine;
    border: 2px solid aquamarine;
    margin: 5px;
}

a:link{
    color: crimson;
    background-color: aquamarine;
    border: 2px solid aquamarine;
    margin: 10px;
    border-radius: 25px;
    
        
    
}

a:visited{
    color: black;
    background-color: chartreuse;
}

a:hover {
    color: white;
    background-color: green;
    
}


